<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
* Created by hbm Generator<27683139@qq.com> on 2020年10月6日.
-->
<mapper namespace="springboot.hello.dao.ZhangSanDao">
    <resultMap id="zhangsan" type="springboot.hello.entity.ZhangSan">
            <id property="id" column="ID"/>
            <result property="name" column="NAME"/>
            <result property="age" column="AGE"/>
            <result property="salary" column="SALARY"/>
    </resultMap>

    <sql id="columns">
            `ID` ,`NAME` ,`AGE` ,`SALARY`
    </sql>

    <insert id="insert">
    	<!-- <selectKey keyProperty="Id" resultType="string" order="BEFORE">    
	            select uuid() as id from dual  
	    </selectKey>  -->
        insert into `ZHANG_SAN`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `ID`,
            </if>
            <if test="name != null">
                `NAME`,
            </if>
            <if test="age != null">
                `AGE`,
            </if>
            <if test="salary != null">
                `SALARY`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
            #{id} ,
            </if>
            <if test="name != null">
            #{name} ,
            </if>
            <if test="age != null">
            #{age} ,
            </if>
            <if test="salary != null">
            #{salary} ,
            </if>
        </trim>
    </insert>

    <delete id="delete">
        delete from `ZHANG_SAN`
        <trim prefix="where " prefixOverrides="and ">
            <if test="id != null">
                and `ID` = #{id}
            </if>
            <if test="name != null">
                and `NAME` = #{name}
            </if>
            <if test="age != null">
                and `AGE` = #{age}
            </if>
            <if test="salary != null">
                and `SALARY` = #{salary}
            </if>
        </trim>
    </delete>

    <delete id="deleteByIds">
        delete from `ZHANG_SAN`
        where `id` in
        <foreach collection="ids" open="(" item="id" separator="," close=")">
        #{id}
        </foreach>
    </delete>

    <update id="update">
        update `ZHANG_SAN`
        <set>
                <if test="name != null">
                    `NAME` = #{name},
                </if>
                <if test="age != null">
                    `AGE` = #{age},
                </if>
                <if test="salary != null">
                    `SALARY` = #{salary},
                </if>
        </set>
        where id = #{id}
    </update>

    <select id="getById" resultMap="zhangsan">
        select
        <include refid="columns" />
        from `ZHANG_SAN`
        where `id` = #{id}
    </select>

    <select id="list" resultMap="zhangsan">
        select
        <include refid="columns" />
        from `ZHANG_SAN`
        <trim prefix="where " prefixOverrides="and ">
            <if test="id != null">
                and `ID` = #{id}
            </if>
            <if test="name != null">
                and `NAME` = #{name}
            </if>
            <if test="age != null">
                and `AGE` = #{age}
            </if>
            <if test="salary != null">
                and `SALARY` = #{salary}
            </if>
        </trim>
    </select>
</mapper>